.container.portfolio__container {
    display: grid;
    padding-bottom: 4rem;
    }

.portfolio__item {
    background: transparent;
    border: 1px solid var(--color-light);
    transition: var(--transition);
}

.portfolio__item-partition {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.portfolio__item-image {
    overflow: hidden;
    height: 100%;
}

.portfolio__item-image img{
    height: 15rem;
}

.portfolio__item-content {
    margin: 1rem;
    color: var(--color-light);
}

.portfolio__item h3 {
    padding-bottom: 1rem;
    }

.portfolio__item-cta {
    background: transparent;
    color: var(--color-white);
    padding: 1rem;
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: 100%;
}

.portfolio__item-cta:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
    cursor: pointer;
}

.portfolio__item-icon {
    position: absolute;
    right: 3%;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/* Media Styles (Small Devices) */

@media screen and (max-width: 600px) {
    .portfolio__item-icon {
        position: absolute;
        right: 2rem;
    }
}